{% extends 'base.html' %}
{% block title %} About This Todo App{% endblock title %} 
{% block body %}
    <!--
        This HTML file is the template for the "About" page of the todo-app.
        It provides information about the functionality of the application.
    -->
    <div class="container my-3">
        <p>Use this app to manage your todo list</p>
        <p>Home page to view and add tasks and Add new tasks with a title and description.</p>
        <p>you can update task details using update button.</p>
        <p>You can delete a task using the delete button.</p>
    </div>
{% endblock body %}